@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:100,300|Poiret+One&display=swap&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Encode Sans Semi Expanded';
	font-size: 1.1em;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

section {
	margin-bottom: 2rem;
	text-align: center;
}

@media (max-width: 799px) {
	section {
		max-width: 500px;
	}
}
