@import './variables';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.description {
	max-width: 600px;
	text-indent: 20px;
	text-align: justify;

	@media (max-width: 799px) {
		margin: 1.5rem 2.5rem;
	}
}

.specs {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 20px;
	align-items: center;
}

.keys {
	color: $primary-color;
	text-align: right;
}

.values {
	color: inherit;
	text-align: left;
}

.map {
	width: 600px;
	height: 450px;
}

.video {
	max-width: 640px;
	max-height: 360px;
	margin-bottom: 4rem;
}
